/* 字体 */
@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candy.ttf') format("truetype"); /* 字体文件路径 */
  font-display : swap;
}
h1#site-title {
  font-family: 'Candyhome', sans-serif;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 文章页背景透明 
.layout_post>#post {*/
    /* 以下代表透明度为0.5 可以自行修改
    background: rgba(255,255,255,0.7);
}*/
/* 所有页面背景透明 
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  */  /* 以下代表透明度为0.5 
    background: rgba(255,255,255,0.7);
}*/

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }


/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.8);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.8)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.8);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.8);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.8);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.8);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.8);
}