/* 字体 */
@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
}

h1#site-title {
  font-family: 'Candyhome', sans-serif;
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }