/* 字体 */
@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('/fonts/Candy.ttf'); /* 字体文件路径 */
  font-display : swap;
  font-weight:lighter
}
@font-face {
    font-family:'ZhuZiAYuanJWD' ;
    src:url('https://cdn.jsdelivr.net/npm/akilar-candyassets/fonts/ZhuZiAWan.woff2');
    font-display:swap;
    font-weight:lighter
}
@font-face{
  font-family:'Coca' ; 
  src:url('/fonts/Coca-ColaCareFont-TextRegular.TTF');
  font-display : swap;
  font-weight:lighter
}
body {
    font-family: 'ZhuZiAYuanJWD','Candyhome';
}
h1#site-title {
  font-family: 'Candyhome', sans-serif;
}
span#subtitle {
    font-family:Candyhome!important
}
a#site-name {
    font-family:Candyhome!important
}

/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 文章页背景透明 
.layout_post>#post {*/
    /* 以下代表透明度为0.5 可以自行修改
    background: rgba(255,255,255,0.7);
}*/
/* 所有页面背景透明 
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  */  /* 以下代表透明度为0.5 
    background: rgba(255,255,255,0.7);
}*/

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }


/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.8);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.8)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.8);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.8);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.8);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.8);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.8);
}

/* aplayer全局吸底歌单diy */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

/* 跳动的心 */
#heartbeat {
  color: red;
  animation: iconAnimate 1.33s ease-in-out infinite;
}
@-moz-keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}